BeamNG.drive__mods__unpacked/*
!BeamNG.drive__mods__unpacked/sir_velo
BeamNG.drive__mods__unpacked/sir_velo/vehicles/sir_velo/companion/*
!BeamNG.drive__mods__unpacked/sir_velo/vehicles/sir_velo/companion/empty